{% include "header.html" %}

				<section id="banner">
					<h2>Welcome!</h2>
					<p>Sing-in to your account. If you are new, then please register to gain excellent management over all your business needs.</p>
					<ul class="actions special">
						<li><a href="{{ url_for('login_page') }}" class="button primary">Sign in</a></li>
						<li><a href="{{ url_for('register_user') }}" class="button">Register</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Stock Control, Automated Report Generation, Automate Emailing Systems, and possibly more.</h2>
							<p>Vector Digital focuses on your needs. Whether it is stock control, excel sheet generation, or automated emailing we can help.</p></header></section></section>

{% include "footer.html" %}