{% include "header.html" %}

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special features">
						<div class="features-row">
							<section>
								<a href="{{ url_for('add') }}"><span class="feature-icon fa-solid fa-file-circle-plus fa-4x" style="color: #63E6BE;"></span></a>
								<h2><a href="{{ url_for('add') }}">Add URL/Shop</a></h2>
								<p>Here you can add a new shop to an existing URL link, or add a new URL link with its corresponding shops.</p>
							</section>
							<section>
								<a href="{{ url_for('remove') }}"><span class="feature-icon fa-solid fa-trash-can fa-4x" style="color: #ce2c34;"></span></a>
								<h2><a href="{{ url_for('remove') }}">Remove URL/Shop</a></h2>
								<p>Follow the link to remove a shop from a URL, or to remove an entire URL entity with its corresponding shops.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<a href="{{ url_for('amend') }}"><span class="feature-icon fa-brands fa-autoprefixer fa-4x" style="color: #B197FC;"></span></a>
								<h2><a href="{{ url_for('amend') }}">Amend</a></h2>
								<p>Amend any mistakes made during the incorporation of new URL links or shop names.</p>
							</section>
							<section>
								<a href="{{ url_for('reports') }}"><span class="feature-icon fa-solid fa-file-lines fa-4x" style="color: #f48f01;"></span></a>
								<h2><a href="{{ url_for('reports') }}">Reports</a></h2>
								<p>Generate a report based on the period of your choosing to help manage your stocks from any date.</p>
							</section>
						</div>
					</section>

				</section>

{% include "footer.html" %}